* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
figure {
  margin: 0;
}
.row {
  max-width: 80rem;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.row div {
  flex: 0 0 100%;
  padding: 0 1rem;
}
.row div.profile {
  flex-basis: calc(100% - 1rem);
  padding: 0.5rem;
}
.row img {
  width: 100%;
  height: auto;
}
.row.nomargin {
  margin: 0 auto;
}
@media (min-width: 22rem) {
  .row div.profile {
    flex-basis: calc(50% - 1rem);
  }
}
@media (min-width: 42rem) {
  .row2 div {
    flex: 0 0 50%;
    padding: 1rem;
  }
  .row4 div {
    flex: 0 0 50%;
  }
  .row4 div.profile {
    flex-basis: calc(50% - 1rem);
  }
  .row div.profile {
    padding: 1rem;
  }
}
@media (min-width: 58rem) {
  .row4 div {
    flex: 0 0 25%;
  }
  .row4 div.profile {
    flex-basis: calc(25% - 1rem);
  }
  .row div.profile {
    flex-basis: calc(25% - 1rem);
  }
}
h1, h2, h3 {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 2em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5em;
  position: relative;
  margin: 0 0 2em 0;
}
h2:after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 0.8rem;
  background: linear-gradient(135deg, #95c363  0%, #6689e6  100%);
  left: 0;
  bottom: -1em;
  border-radius: 0 0.4em 0.4em 0;
}
h2.company-name {
  color: white;
  text-align: center;
  margin: 0.5em 0;
}
h2.company-name:after {
  display: none;
}
h2.section_title {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 2em 0 0.5em;
  letter-spacing: 0.2em;
  color: black;
}
h2.section_title.white {
  color: white;
}
h2.section_title.white:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 5em;
  background: white;
  bottom: -0.5em;
  left: calc(50% - 2.5em);
}
h2.section_title:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 5em;
  background: #567a79;
  bottom: -0.5em;
  left: calc(50% - 2.5em);
}
h3 {
  font-size: 1.4em;
}
.service h3 {
  color: white;
}
.highlight {
  color: #ff0097;
}
p {
  font-size: 1.2em;
  line-height: 1.4;
}
a {
  text-decoration: none;
  border-bottom: 1px solid;
}
a:focus, a:hover {
  background: #06ffbd;
  color: black;
  border-bottom: none;
}
ul {
  padding: 0 1rem;
}
li {
  margin-bottom: 0.5rem;
}
figcaption {
  font-family: serif;
  font-style: italic;
  color: black;
  font-size: 1.2em;
  margin-top: 0.5em;
  padding-left: 1em;
  border-left: 2px solid #567a79;
}
.mainmenu ul {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainmenu ul li {
  flex: 0 0 50%;
  list-style: none;
  display: flex;
  margin: 0;
}
.mainmenu ul li a {
  flex: 1;
  padding: 0.5em 0 0.8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 0px solid;
  position: relative;
}
.mainmenu ul li a:after {
  content: "";
  width: 100%;
  height: 6px;
  background: #587d7c;
  position: absolute;
  display: block;
  bottom: 0;
  transition: opacity 0.3s;
  opacity: 0;
}
.mainmenu ul li a.active:after {
  background: #51779a;
  opacity: 1;
}
.mainmenu ul li a:hover, .mainmenu ul li a:focus {
  background: none;
}
.mainmenu ul li a:hover:after, .mainmenu ul li a:focus:after {
  opacity: 1;
}
@media (min-width: 58rem) {
  .mainmenu ul li {
    flex: 0 0 25%;
  }
}
.btn, button {
  background: #51779a;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 1em;
  border: 0;
  cursor: pointer;
}
.btn.cta, button.cta {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.btn:hover, button:hover, .btn:focus, button:focus {
  background: #587d7c;
  color: white;
}
address {
  font-style: normal;
}
header {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
.hero {
  background: linear-gradient(0.3turn, #6B8E23, #4169E1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.hero-image {
  position: absolute;
  max-width: 80rem;
  bottom: -1px;
  z-index: 0;
  left: 50%;
  margin-left: -40rem;
  display: block;
}
.hero-message {
  text-align: center;
  padding: 0 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.about_us figure {
  position: relative;
  overflow: hidden;
}
.about_us figure:after {
  content: "";
  width: 6rem;
  height: 3rem;
  background: #8db97a;
  position: absolute;
  top: -1rem;
  right: -2.5rem;
  transform: rotate(45deg);
}
.services {
  background: linear-gradient(135deg, #587d7c  0%, black 100%);
  padding: 1rem 0;
}
.service p {
  color: white;
}
.team {
  background: linear-gradient(135deg, #638749  0%, #4169E1 100%);
  padding: 1rem 0;
}
.profile {
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 1rem 0;
}
.profile figure {
  position: relative;
  overflow: hidden;
}

.profile img {
  display: block;
}
.profile_name {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  position: relative;
  padding-bottom: 0.2em;
  margin: 1em 0 0.5em;
}
.profile_name:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 5em;
  background: linear-gradient(135deg, #06ffbd 0%, #ff0097 100%);
  bottom: 0;
  left: calc(50% - 2.5em);
}
.profile_position {
  font-weight: 400;
  font-style: italic;
  margin: 1rem 0 0 0;
}
.contact_form div {
  padding: 1rem 0;
}
.contact_form label {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.5rem;
}
.contact_form input, .contact_form textarea {
  width: 100%;
  max-width: 400px;
  padding: 0.5em;
  font-family: sans-serif;
  font-size: 1.1em;
  border: 2px solid #666;
}
.contact_form input:focus, .contact_form textarea:focus {
  border-color: #4a71b6;
}
.contact_form input:invalid, .contact_form textarea:invalid {
  border: 2px solid red;
  box-shadow: none;
  outline: none;
}
footer {
  background: black;
  color: white;
  padding: 0.5rem 0 3rem;
}
footer > .row {
  margin-bottom: 0;
}
footer h3 {
  position: relative;
  margin-bottom: 3rem;
}
footer h3:after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 0.4rem;
  background: linear-gradient(135deg, #009f75 0%, #ff0038 100%);
  left: 0;
  bottom: -0.5em;
  border-radius: 0 0.4em 0.4em 0;
}
footer a {
  color: #ff0038;
}
.icon {
  border: 0;
  display: inline-block;
  margin-right: 0.5rem;
}
.icon svg {
  width: 2rem;
  height: 2rem;
}
.icon:hover, .icon:focus {
  background: none;
}
.icon:hover svg path, .icon:focus svg path {
  fill: #ff0038;
}
@media (min-width: 42rem) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.8em;
  }
}

.hero-message h1{
  color: white;
}

.services .section_title{
  color: white;
}

#contact,.about_us .section_title{
  color: black;
}

.downloadImg{
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.downloadImg img{
  width: 25%;
  height: 15%;
}
